<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Salvador.master.vb" Inherits="Salvador_Home.Salvador" %>

<!DOCTYPE html>

<html>
<head runat="server">
   <meta charset="utf-8" />
    <title>Eduardo Salvador Part III Page</title>

    <!--Style Class-->
    <style type="text/css">
        .ES1 {font-weight:bold; font-size: medium; width:300px; background-color: #CCFFCC; font-family: Arial; }
        table.ES2 {margin-left:auto; margin-right:auto; border: 3px solid #808000; background-color: #99CCFF}
        .ES3 {width: 597px; font-family:Arial; font-size: medium}
    </style>

</head>
<body>
    <!--Header-->

    <table cellspacing="10" style="background-color: #0000CC">
        <tr>
            <td style="width: 1148px; color: #FFFFFF; font-family: Verdana; font-size: small;">An agency of the Commonwealth of Virginia</td>
            <td><a href="http://localhost:56358/Virginia.gov">
                <span style="color: #FFFFFF; font-family: Verdana; font-size: small">Virginia.gov</span></a></td>
        </tr>
    </table>
    <table cellspacing="10">
        <tr>
            <td style="height: 77px">
                <img alt="" src="VDH_1.png" style="width: 835px; height: 85px" /></td>
            <td style="height: 77px; width: 306px;"><strong>COVID-19 Information</strong></td>
            <td style="height: 77px; width: 93px">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
            </td>
        </tr>
    </table>
    <hr />
    <!--Main Body-->

    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
   
    <!--Footer-->
    <hr />
    <p style="font-family: Verdana; text-align: center">
        <a href="http://localhost:56358/Salvador_Home1.html">
        VDH Home Page</a></p>
    <p style="font-family: Verdana; font-size: small">
        Developed by Eduardo Salvador (email: <a href="mailto:salvador@vt.edu">
        salvador@vt.edu</a>)</p>
    <p style="font-family: Verdana; font-size: small; text-align: right">
        For ISE 2034 Course</p>

</body>
</html>
